img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.banner_content img {
  display: block;
  width: 100%;
}
.banner_content ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.banner_content a {
  text-decoration: none;
  color: #D92400;
}
.center {
  max-width: 400px;
  margin: 0 auto;
  width: 88%;
}
.wrapper {
  min-height: 460px;
  position: relative;
  overflow: visible;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.cell {
  vertical-align: middle;
  display: table-cell;
}
.scene, .layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}
.scene {
  min-height: 463px;
  position: relative;
  /* overflow: hidden; */
}
.layer {
  position: absolute;
}
.layer div {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.title {
  font-size: 3em;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 42%;
  text-align: center;
}
.scene {
  margin: 0;
  padding: 0;
}
.background {
  /* background: url(../images/banner_elements/background.jpg) no-repeat 50% 100%; */
  bottom: 96px;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
.lighthouse {
  -webkit-transform-origin: 50% 90%;
  -moz-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
  -webkit-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin: 0px -64px;
  background-size: 128px 224px;
  height: 286px;
  width: 222px;
  background-image: url(../images/banner_elements/cristo.svg);
  background-repeat: no-repeat;
  bottom: 65px;
  position: absolute;
  left: -10%;
  z-index: 0;
  background-size: contain;
}
.wave {
  background: transparent repeat-x;
  position: absolute;
  width: 300%;
  left: -100%;
}
.wave:after {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  display: block;
  content: "";
  height: 500px;
  width: 100%;
  top: 100%;
  left: 0;
}
.wave.plain {
  background-image: url(../images/banner_elements/ground2.svg);
  background-repeat: no-repeat;
}
.wave.paint {
  background-image: url(../images/banner_elements/grass.svg);
}
.wave.paint.ground {
  background-image: url("../images/banner_elements/ground.svg");
  background-size: 105% 100%;
}
.light {
  margin: -120px -120px;
  background-size: 240px 240px;
  height: 240px;
  width: 240px;
  background-repeat: no-repeat;
  bottom: 112px;
  position: absolute;
  left: 50%;
}
.light.orange {
  background-image: url(../images/banner_elements/light-orange.png);
}
.light.purple {
  background-image: url(../images/banner_elements/light-purple.png);
}
.light.a {
  bottom: 80px;
  left: 20%;
}
.light.b {
  bottom: 80px;
  left: 30%;
}
.light.c {
  bottom: 112px;
  left: 45%;
}
.light.d {
  bottom: 96px;
  left: 60%;
}
.light.e {
  bottom: 112px;
  left: 75%;
}
.light.f {
  bottom: 64px;
  left: 80%;
}
.light.phase-1 {
  -webkit-animation: phase 20s 0.1s infinite linear;
  -moz-animation: phase 20s 0.1s infinite linear;
  animation: phase 20s 0.1s infinite linear;
}
.light.phase-2 {
  -webkit-animation: phase 18s 0.1s infinite linear;
  -moz-animation: phase 18s 0.1s infinite linear;
  animation: phase 18s 0.1s infinite linear;
}
.light.phase-3 {
  -webkit-animation: phase 16s 0.1s infinite linear;
  -moz-animation: phase 16s 0.1s infinite linear;
  animation: phase 16s 0.1s infinite linear;
}
.light.phase-4 {
  -webkit-animation: phase 14s 0.1s infinite linear;
  -moz-animation: phase 14s 0.1s infinite linear;
  animation: phase 14s 0.1s infinite linear;
}
.light.phase-5 {
  -webkit-animation: phase 12s 0.1s infinite linear;
  -moz-animation: phase 12s 0.1s infinite linear;
  animation: phase 12s 0.1s infinite linear;
}
.light.phase-6 {
  -webkit-animation: phase 10s 0.1s infinite linear;
  -moz-animation: phase 10s 0.1s infinite linear;
  animation: phase 10s 0.1s infinite linear;
}
.rope {
  width: 120%;
  position: relative;
  left: -10%;
}
.hanger {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  position: absolute;
}
.hanger.position-1 {
  top: 10%;
}
.hanger.position-2 {
  top: 46%;
}
.hanger.position-3 {
  top: 59%;
}
.hanger.position-4 {
  top: 66.5%;
}
.hanger.position-5 {
  top: 8.5%;
}
.hanger.position-6 {
  top: 77.5%;
}
.hanger.position-7 {
  top: 59%;
}
.hanger.position-8 {
  top: 38%;
}
.hanger.position-9 {
  top: 28%;
}
.hanger.position-1 {
  left: 4%;
}
.hanger.position-2 {
  left: 20%;
}
.hanger.position-3 {
  left: 32%;
}
.hanger.position-4 {
  left: 40%;
}
.hanger.position-5 {
  left: 15%;
}
.hanger.position-6 {
  left: 61%;
  z-index: 3;
  /* filter: drop-shadow(-33px 37px 22px rgba(0, 0, 0, 0.4)); */
  display: block;
  width: 100%;
  height: 300px;
}
.hanger.position-7 {
  left: 70%;
}
.hanger.position-8 {
  left: 81%;
}
.hanger.position-9 {
  left: 90%;
}
.board {
  -webkit-transform-origin: 0 150%;
  -moz-transform-origin: 0 150%;
  transform-origin: 0 150%;
  margin: 0px -140px;
  background-size: contain;
  height: 280px;
  width: 480px;
  background-repeat: no-repeat;
  position: absolute;
  top: -4px;
  left: 0;
}
.board.birds {
  background-image: url(../images/banner_elements/animated-bird-image.gif);
  background-size: auto 30%;
}
.board.cloud-1 {
  background-image: url(../images/banner_elements/mountains.svg);
  width: 1900px;
}
.board.cloud-2 {
  background-image: url(../images/banner_elements/plain.svg);
  background-size: 100% auto;
  width: 300px;
  height: 95px;
  /* filter: drop-shadow( 8px 69px 29px rgba(0, 0, 0, 0.7)); */
  /* overflow: hidden; */
}
.board.cloud-3 {
  background-image: url(../images/banner_elements/board-cloud-3.svg);
}
.board.cloud-4 {
  background-image: url(../images/banner_elements/board-cloud-4.svg);
  width: 823px;
  height: 305px;
  background-position: center top;
  position: absolute;
}
.swing-1 {
  -webkit-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.swing-2 {
  /* -webkit-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  /*-moz-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);*/
  /* animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
}
.swing-3 {
  -webkit-animation: swing 40s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 40s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.swing-4 {
  -webkit-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 2.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.swing-5 {
  animation: swing_box 1.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.wave.depth-10 {
  -webkit-animation: wave 8s 0.1s infinite linear;
  -moz-animation: wave 8s 0.1s infinite linear;
  animation: wave 8s 0.1s infinite linear;
  bottom: 140px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 16px;
}
.wave.depth-10:after {
  height: 144px;
}
.rope.depth-10 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  top: 20%;
}
.rope.depth-10 .hanger {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  transform: scale(0.25);
}
.wave.depth-20 {
  -webkit-animation: wave 7.55556s 0.1s infinite linear;
  -moz-animation: wave 7.55556s 0.1s infinite linear;
  animation: wave 7.55556s 0.1s infinite linear;
  bottom: 120px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 32px;
}
.wave.depth-20:after {
  height: 128px;
}
.rope.depth-20 {
  -webkit-transform: scale(1.02778);
  -moz-transform: scale(1.02778);
  transform: scale(1.02778);
  top: 16.66667%;
}
.rope.depth-20 .hanger {
  -webkit-transform: scale(0.27778);
  -moz-transform: scale(0.27778);
  transform: scale(0.27778);
}
.wave.depth-30 {
  /* -webkit-animation: wave 7.11111s 0.1s infinite linear; */
  /* -moz-animation: wave 7.11111s 0.1s infinite linear;*/
  /* animation: wave 7.11111s 0.1s infinite linear; */
  bottom: 78px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 48px;
}
.wave.depth-30:after {
  height: 112px;
}
.rope.depth-30 {
  -webkit-transform: scale(1.05556);
  -moz-transform: scale(1.05556);
  transform: scale(1.05556);
  top: 63%;
}
.rope.depth-30 .hanger {
  -webkit-transform: scale(0.30556);
  -moz-transform: scale(0.30556);
  transform: scale(0.30556);
}
.wave.depth-40 {
  /* -webkit-animation: wave 6.66667s 0.1s infinite linear; */
  /*-moz-animation: wave 6.66667s 0.1s infinite linear;*/
  /* animation: wave 6.66667s 0.1s infinite linear; */
  bottom: 49px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 135px;
}
.wave.depth-40:after {
  height: 96px;
}
.rope.depth-40 {
  -webkit-transform: scale(1.08333);
  -moz-transform: scale(1.08333);
  transform: scale(1.08333);
  top: 10%;
}
.rope.depth-40 .hanger {
  -webkit-transform: scale(0.33333);
  -moz-transform: scale(0.33333);
  transform: scale(0.33333);
}
.wave.depth-50 {
  /* -webkit-animation: wave 6.22222s 0.1s infinite linear; */
  /*-moz-animation: wave 6.22222s 0.1s infinite linear;*/
  /* animation: wave 6.22222s 0.1s infinite linear; */
  bottom: 32px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 80px;
  background-color: #8a8783;
}
.wave.depth-50:after {
  height: 80px;
}
.rope.depth-50 {
  -webkit-transform: scale(1.11111);
  -moz-transform: scale(1.11111);
  transform: scale(1.11111);
  top: 6.66667%;
}
.rope.depth-50 .hanger {
  -webkit-transform: scale(0.36111);
  -moz-transform: scale(0.36111);
  transform: scale(0.36111);
}
.wave.depth-60 {
  /* -webkit-animation: wave 5.77778s 0.1s infinite linear; */
  /*-moz-animation: wave 5.77778s 0.1s infinite linear;*/
  /* animation: wave 5.77778s 0.1s infinite linear; */
  bottom: 40px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 96px;
}
.wave.depth-60:after {
  height: 64px;
}
.rope.depth-60 {
  -webkit-transform: scale(1.13889);
  -moz-transform: scale(1.13889);
  transform: scale(1.13889);
  top: 3.33333%;
}
.rope.depth-60 .hanger {
  -webkit-transform: scale(0.38889);
  -moz-transform: scale(0.38889);
  transform: scale(0.38889);
}
.wave.depth-70 {
  -webkit-animation: wave 5.33333s 0.1s infinite linear;
  -moz-animation: wave 5.33333s 0.1s infinite linear;
  animation: wave 5.33333s 0.1s infinite linear;
  bottom: 20px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 112px;
}
.wave.depth-70:after {
  height: 48px;
}
.rope.depth-70 {
  -webkit-transform: scale(1.16667);
  -moz-transform: scale(1.16667);
  transform: scale(1.16667);
  top: 0%;
}
.rope.depth-70 .hanger {
  -webkit-transform: scale(0.41667);
  -moz-transform: scale(0.41667);
  transform: scale(0.41667);
}
.wave.depth-80 {
  /* -webkit-animation: wave 4.88889s 0.1s infinite linear; */
  /*-moz-animation: wave 4.88889s 0.1s infinite linear;*/
  /* animation: wave 4.88889s 0.1s infinite linear; */
  bottom: 0px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 128px;
}
.wave.depth-80:after {
  height: 32px;
}
.rope.depth-80 {
  -webkit-transform: scale(1.19444);
  -moz-transform: scale(1.19444);
  transform: scale(1.19444);
  top: -3.33333%;
}
.rope.depth-80 .hanger {
  -webkit-transform: scale(0.44444);
  -moz-transform: scale(0.44444);
  transform: scale(0.44444);
}
.wave.depth-90 {
  -webkit-animation: wave 4.44444s 0.1s infinite linear;
  -moz-animation: wave 4.44444s 0.1s infinite linear;
  animation: wave 4.44444s 0.1s infinite linear;
  bottom: -20px;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 144px;
}
.wave.depth-90:after {
  height: 16px;
}
.rope.depth-90 {
  -webkit-transform: scale(1.22222);
  -moz-transform: scale(1.22222);
  transform: scale(1.22222);
  top: -6.66667%;
}
.rope.depth-90 .hanger {
  -webkit-transform: scale(0.47222);
  -moz-transform: scale(0.47222);
  transform: scale(0.47222);
}
.wave.depth-100 {
  /* -webkit-animation: wave 4s 0.1s infinite linear; */
  -moz-animation: wave 4s 0.1s infinite linear;
  /* animation: 4s 0.1s infinite linear; */
  bottom: -18%;
  margin: 0px 0px;
  background-position: center bottom;
  background-size: auto 101%;
  height: 179px;
}
.wave.depth-100:after {
  height: 0px;
}
.rope.depth-100 {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  top: -10%;
}
.rope.depth-100 .hanger {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
@media all and (min-width: 400px) {
  html {
    font-size: 12px;
  }
  .wrapper {
    min-height: 378px;
  }
  .about .panel header:before {
    background-size: 66px 90px;
  }
  .toggle {
    bottom: 12%;
  }
  .prompt .panel img {
    width: 80px;
  }
  .scene {
    min-height: 462px;
  }
  .rope.depth-10 {
    top: 10%;
  }
  .rope.depth-10 .hanger {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  .rope.depth-20 {
    top: 6.11111%;
  }
  .rope.depth-20 .hanger {
    -webkit-transform: scale(0.33333);
    -moz-transform: scale(0.33333);
    transform: scale(0.33333);
  }
  .rope.depth-30 {
    top: 58.22222%;
  }
  .rope.depth-30 .hanger {
    -webkit-transform: scale(0.36667);
    -moz-transform: scale(0.36667);
    transform: scale(0.36667);
  }
  .rope.depth-40 {
    top: -1.66667%;
  }
  .rope.depth-40 .hanger {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  .rope.depth-50 {
    top: -5.55556%;
  }
  .rope.depth-50 .hanger {
    -webkit-transform: scale(0.43333);
    -moz-transform: scale(0.43333);
    transform: scale(0.43333);
  }
  .rope.depth-60 {
    top: -0.44444%;
  }
  .rope.depth-60 .hanger {
    -webkit-transform: scale(0.46667);
    -moz-transform: scale(0.46667);
    transform: scale(0.46667);
  }
  .rope.depth-70 {
    top: -13.33333%;
  }
  .rope.depth-70 .hanger {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  .rope.depth-80 {
    top: -17.22222%;
  }
  .rope.depth-80 .hanger {
    -webkit-transform: scale(0.53333);
    -moz-transform: scale(0.53333);
    transform: scale(0.53333);
  }
  .rope.depth-90 {
    top: -21.11111%;
  }
  .rope.depth-90 .hanger {
    -webkit-transform: scale(0.56667);
    -moz-transform: scale(0.56667);
    transform: scale(0.56667);
  }
  .rope.depth-100 {
    top: -25%;



  }
  .rope.depth-100 .hanger {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  .hanger.position-5 {
    top: 15%;
  }
  .hanger.position-1 {
    top: 30%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  footer {
    padding: 0 10px 20px;
  }
  footer .fb-like, footer .twitter-share-button {
    position: static;
    bottom: auto;
    right: auto;
  }
  .center {
    max-width: 440px;
  }
  .about .panel:after {
    background-size: 252px 252px;
    height: 180px;
    width: 140px;
  }
  .about .panel header:before {
    background-size: 82.5px 112.5px;
  }
  .prompt {
    overflow: visible;
    display: block;
    width: 0;
  }
  .prompt.hide .panel {
    -webkit-transform: translate3d(0, 50%, 400px) rotateX(90deg);
    -moz-transform: translate3d(0, 50%, 400px) rotateX(90deg);
    transform: translate3d(0, 50%, 400px) rotateX(90deg);
  }
  .prompt .cell {
    position: absolute;
    display: block;
    bottom: 25px;
    left: 25px;
  }
  .prompt .dismiss {
    right: 0px;
    top: 0px;
  }
  .prompt .panel {
    -webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    padding: 1em 0 0.8em;
    width: 220px;
  }
  .prompt .panel img {
    margin: 0.4em auto 0.6em;
    width: 80px;
  }
  .prompt .panel h2 {
    font-size: 1.6em;
  }
  .prompt .panel p {
    font-size: 0.93333em;
    margin: 0 10% 1.3em;
    line-height: 1.3em;
  }
  .toggle {
    margin: -28px;
    bottom: 15%;
  }
  .title {
    font-size: 3.46667em;
  }
  .background {
    bottom: 96px;
  }
  .lighthouse {
    margin: 0px -96px;
    background-size: contain;
    height: 473px;
    width: 369px;
    bottom: 71px;
    left: 4%;
  }
  .light {
    margin: -140px -140px;
    background-size: 280px 280px;
    height: 280px;
    width: 280px;
  }
  .light.a {
    bottom: 144px;
  }
  .light.b {
    bottom: 144px;
  }
  .light.c {
    bottom: 192px;
  }
  .light.d {
    bottom: 160px;
  }
  .light.e {
    bottom: 192px;
  }
  .light.f {
    bottom: 128px;
  }
  .wave.depth-10 {
    bottom: 210px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 24px;
  }
  .wave.depth-10:after {
    height: 216px;
  }
  .rope.depth-10 {
    /* top: 20%; */
    /* background: blue; */
  }
  .rope.depth-10 .hanger {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  .wave.depth-20 {
    bottom: 180px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 48px;
  }
  .wave.depth-20:after {
    height: 192px;
  }
  .rope.depth-20 {
    top: 16.66667%;
  }
  .rope.depth-20 .hanger {
    -webkit-transform: scale(0.55556);
    -moz-transform: scale(0.55556);
    transform: scale(0.55556);
  }
  .wave.depth-30 {
    bottom: 98px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 72px;
  }
  .wave.depth-30:after {
    height: 168px;
  }
  .rope.depth-30 {
    top: 63.33333%;
  }
  .rope.depth-30 .hanger {
    -webkit-transform: scale(0.61111);
    -moz-transform: scale(0.61111);
    transform: scale(0.41111);
  }
  .wave.depth-40 {
    bottom: 95px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 143px;
  }
  .wave.depth-40:after {
    height: 144px;
  }
  .rope.depth-40 {
    top: 10%;
  }
  .rope.depth-40 .hanger {
    -webkit-transform: scale(0.66667);
    -moz-transform: scale(0.66667);
    transform: scale(0.66667);
  }
  .wave.depth-50 {
    bottom: 51px;
    margin: 0px 0px;
    background-position: center bottom;

    background-size: auto 101%;
    height: 120px;
  }
  .wave.depth-50:after {
    height: 120px;
  }
  .rope.depth-50 {
    top: 6.66667%;
  }
  .rope.depth-50 .hanger {
    -webkit-transform: scale(0.72222);
    -moz-transform: scale(0.72222);
    transform: scale(0.72222);
  }
  .wave.depth-60 {
    bottom: 60px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 144px;
  }
  .wave.depth-60:after {
    height: 96px;
  }
  .rope.depth-60 {
    /* top: 3.33333%; */
    /* background: red; */
  }
  .rope.depth-60 .hanger {
    -webkit-transform: scale(0.77778);
    -moz-transform: scale(0.77778);
    transform: scale(0.77778);
  }
  .wave.depth-70 {
    bottom: 30px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 168px;
  }
  .wave.depth-70:after {
    height: 72px;
  }
  .rope.depth-70 {
    top: 0%;
  }
  .rope.depth-70 .hanger {
    -webkit-transform: scale(0.83333);
    -moz-transform: scale(0.83333);
    transform: scale(0.83333);
  }
  .wave.depth-80 {
    bottom: 0px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 192px;
  }
  .wave.depth-80:after {
    height: 48px;
  }
  .rope.depth-80 {
    top: -3.33333%;
  }
  .rope.depth-80 .hanger {
    -webkit-transform: scale(0.88889);
    -moz-transform: scale(0.88889);
    transform: scale(0.88889);
  }
  .wave.depth-90 {
    bottom: -30px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 216px;
  }
  .wave.depth-90:after {
    height: 24px;
  }
  .rope.depth-90 {
    top: -6.66667%;
  }
  .rope.depth-90 .hanger {
    -webkit-transform: scale(0.94444);
    -moz-transform: scale(0.94444);
    transform: scale(0.94444);
  }
  .wave.depth-100 {
    bottom: -8%;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 193px;
  }
  .wave.depth-100:after {
    height: 0px;
  }
  .rope.depth-100 {
    top: -10%;
  }
  .rope.depth-100 .hanger {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  .hanger.position-5 {
    top: 10%;
  }
  .hanger.position-1 {
    top: 10%;
  }
}
@media all and (min-width: 900px) {
  html {
    font-size: 15px;
  }
  .center {
    max-width: 560px;
  }
  .about .panel:after {
    background-size: 280px 280px;
    height: 200px;
    width: 160px;
  }
  .about .panel header:before {
    background-size: 82.5px 112.5px;
  }
  .about .panel .links a {
    padding: 1.2em 0 1.3em;
  }
  .toggle {
    margin: -24px;
    bottom: 12%;
  }
  .title {
    font-size: 3.46667em;
    text-align: center;
  }
  .background {
    bottom: 160px;
  }
  .lighthouse {
    /* margin: 0px -104px; */
    /* background-size: 208px 364px; */
    height: 416px;
    width: 334px;
    bottom: 20%;
  }
  .light {
    margin: -160px -160px;
    background-size: 320px 320px;
    height: 320px;
    width: 320px;
  }
  .light.a {
    bottom: 112px;
    left: 15%;
  }
  .light.b {
    bottom: 160px;
  }
  .light.c {
    bottom: 208px;
  }
  .light.d {
    bottom: 176px;
  }
  .light.e {
    bottom: 208px;
  }
  .light.f {
    bottom: 128px;
    left: 85%;
  }
  .wave.depth-10 {
    bottom: 238px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 27px;
  }
  .wave.depth-10:after {
    height: 244.8px;
  }
  .rope.depth-10 {
    top: 10%;
  }
  .rope.depth-10 .hanger {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  .wave.depth-20 {
    bottom: 204px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 54px;
  }
  .wave.depth-20:after {
    height: 217.6px;
  }
  .rope.depth-20 {
    top: 6.66667%;
  }
  .rope.depth-20 .hanger {
    -webkit-transform: scale(0.56111);
    -moz-transform: scale(0.56111);
    transform: scale(0.56111);
  }
  .wave.depth-30 {
    bottom: 116px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 87px;
  }
  .wave.depth-30:after {
    height: 190.4px;
  }
  .rope.depth-30 {
    top: 52.33333%;
    height: 300px;
  }
  .rope.depth-30 .hanger {
    -webkit-transform: scale(0.62222);
    -moz-transform: scale(0.62222);
    transform: scale(0.62222);
    /* top: 3%; */
  }
  .wave.depth-40 {
    bottom: 123px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: 100% 101%;
    height: 157px;
    width: 139%;
    left: -13%;
  }
  .wave.depth-40:after {
    height: 163.2px;
  }
  .rope.depth-40 {
    top: 0%;
  }
  .rope.depth-40 .hanger {
    -webkit-transform: scale(0.68333);
    -moz-transform: scale(0.68333);
    transform: scale(0.68333);
  }
  .wave.depth-50 {
    bottom: 72px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 136px;
  }
  .wave.depth-50:after {
    height: 136px;
  }
  .rope.depth-50 {
    top: -3.33333%;
  }
  .rope.depth-50 .hanger {
    -webkit-transform: scale(0.74444);
    -moz-transform: scale(0.74444);
    transform: scale(0.74444);
  }
  .wave.depth-60 {
    bottom: 68px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 163px;
  }
  .wave.depth-60:after {
    height: 108.8px;
  }
  .rope.depth-60 {
    top: -6.66667%;
  }
  .rope.depth-60 .hanger {
    -webkit-transform: scale(0.80556);
    -moz-transform: scale(0.80556);
    transform: scale(0.80556);
  }
  .wave.depth-70 {
    bottom: 34px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 190px;
  }
  .wave.depth-70:after {
    height: 81.6px;
  }
  .rope.depth-70 {
    top: -10%;
  }
  .rope.depth-70 .hanger {
    -webkit-transform: scale(0.86667);
    -moz-transform: scale(0.86667);
    transform: scale(0.86667);
  }
  .wave.depth-80 {
    bottom: -1px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 218px;
  }
  .wave.depth-80:after {
    height: 54.4px;
  }
  .rope.depth-80 {
    top: -13.33333%;
  }
  .rope.depth-80 .hanger {
    -webkit-transform: scale(0.92778);
    -moz-transform: scale(0.92778);
    transform: scale(0.92778);
  }
  .wave.depth-90 {
    bottom: -35px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 245px;
  }
  .wave.depth-90:after {
    height: 27.2px;
  }
  .rope.depth-90 {
    top: -16.66667%;
  }
  .rope.depth-90 .hanger {
    -webkit-transform: scale(0.98889);
    -moz-transform: scale(0.98889);
    transform: scale(0.98889);
  }
  .wave.depth-100 {
    bottom: -9%;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 171px;
  }
  .wave.depth-100:after {
    height: 0px;
  }
  .rope.depth-100 {
    top: -20%;
  }
  .rope.depth-100 .hanger {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
  .hanger.position-5 {
    top: -5%;
  }
  .hanger.position-1 {
    top: 17%;
  }
}
@media all and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .center {
    max-width: 620px;
  }
  .about .panel:after {
    background-size: 280px 280px;
    height: 200px;
    width: 170px;
  }
  .about .panel header:before {
    background-size: 93.5px 127.5px;
  }
  .prompt .panel {
    width: 240px;
  }
  .lighthouse {
    margin: 0px -112px;
    background-size: contain;
    height: 421px;
    width: 415px;
    left: 15%;
    bottom: 23%;
  }
  .light {
    margin: -200px -200px;
    background-size: 400px 400px;
    height: 400px;
    width: 400px;
  }
  .wave.depth-10 {
    bottom: 252px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 29px;
  }
  .wave.depth-10:after {
    height: 259.2px;
  }
  .rope.depth-10 {
    top: 5%;
  }
  .rope.depth-10 .hanger {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  .wave.depth-20 {
    bottom: 216px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 58px;
  }
  .wave.depth-20:after {
    height: 230.4px;
  }
  .rope.depth-20 {
    top: 1.66667%;
  }
  .rope.depth-20 .hanger {
    -webkit-transform: scale(0.67778);
    -moz-transform: scale(0.67778);
    transform: scale(0.67778);
  }
  .wave.depth-30 {
    bottom: 101px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 86px;
  }
  .wave.depth-30:after {
    height: 201.6px;
  }
  .rope.depth-30 {
    /* bottom: 10%; */
    top: 86%;
    transform: translate(0, -65%);
    height: 454px;
  }
  .rope.depth-30 .hanger {
    -webkit-transform: scale(0.75556);
    -moz-transform: scale(0.75556);
    transform: scale(0.5556) translate(0%, -50%);
    /* top: 3%; */
    left: 33%;
  }
  .wave.depth-40 {
    bottom: 4px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: 100% 100%;
    height: 292px;
    width: 123%;
    left: -11%;
  }
  .wave.depth-40:after {
    height: 172.8px;
  }
  .rope.depth-40 {
    top: -5%;
  }
  .rope.depth-40 .hanger {
    -webkit-transform: scale(0.83333);
    -moz-transform: scale(0.83333);
    transform: scale(0.83333);
  }
  .wave.depth-50 {
    bottom: 41px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 144px;
  }
  .wave.depth-50:after {
    height: 144px;
  }
  .rope.depth-50 {
    top: -8.33333%;
  }
  .rope.depth-50 .hanger {
    -webkit-transform: scale(0.91111);
    -moz-transform: scale(0.91111);
    transform: scale(0.91111);
  }
  .wave.depth-60 {
    bottom: 33px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 173px;
  }
  .wave.depth-60:after {
    height: 115.2px;
  }
  .rope.depth-60 {
    top: 0.33333%;
  }
  .rope.depth-60 .hanger {
    -webkit-transform: scale(0.98889);
    -moz-transform: scale(0.98889);
    transform: scale(0.98889);
  }
  .wave.depth-70 {
    bottom: 36px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 202px;
  }
  .wave.depth-70:after {
    height: 86.4px;
  }
  .rope.depth-70 {
    top: -15%;
  }
  .rope.depth-70 .hanger {
    -webkit-transform: scale(1.06667);
    -moz-transform: scale(1.06667);
    transform: scale(1.06667);
  }
  .wave.depth-80 {
    bottom: -1px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 230px;
  }
  .wave.depth-80:after {
    height: 57.6px;
  }
  .rope.depth-80 {
    top: -18.33333%;
  }
  .rope.depth-80 .hanger {
    -webkit-transform: scale(1.14444);
    -moz-transform: scale(1.14444);
    transform: scale(1.14444);
  }
  .wave.depth-90 {
    bottom: -36px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 259px;
  }
  .wave.depth-90:after {
    height: 28.8px;
  }
  .rope.depth-90 {
    top: -21.66667%;
  }
  .rope.depth-90 .hanger {
    -webkit-transform: scale(1.22222);
    -moz-transform: scale(1.22222);
    transform: scale(1.22222);
  }
  .wave.depth-100 {
    bottom: -28%;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 100%;
    height: 300px;
  }
  .wave.depth-100:after {
    height: 0px;
  }
  .rope.depth-100 {
    top: -25%;
  }
  .rope.depth-100 .hanger {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
  }
  .hanger.position-5 {
    top: 21%;
  }
  .hanger.position-1 {
    top: 23%;
  }
}

.cross, .x, .y {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.about .panel, .about .cables {
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
@-webkit-keyframes phase {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes phase {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes phase {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes phase {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }
  25% {
    -webkit-transform: rotateX(30deg);
    -moz-transform: rotateX(30deg);
    transform: rotateX(30deg);
  }
  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
  75% {
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
  }
}
@-moz-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }
  25% {
    -webkit-transform: rotateX(30deg);
    -moz-transform: rotateX(30deg);
    transform: rotateX(30deg);
  }
  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
  75% {
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
  }
}
@-ms-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }
  25% {
    -webkit-transform: rotateX(30deg);
    -moz-transform: rotateX(30deg);
    transform: rotateX(30deg);
  }
  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
  75% {
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
  }
}
@keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }
  25% {
    -webkit-transform: rotateX(30deg);
    -moz-transform: rotateX(30deg);
    transform: rotateX(30deg);
  }
  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
  75% {
    -webkit-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
  100% {
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
/*@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    -moz-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}
@-moz-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    -moz-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}
@-ms-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    -moz-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}
@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(0deg);
    -moz-transform: translate3d(15%, 0, 0) rotateZ(0deg);
    transform: translate3d(15%, 0, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(0deg);
    -moz-transform: translate3d(-15%, 0, 0) rotateZ(0deg);
    transform: translate3d(-15%, 0, 0) rotateZ(0deg);
  }
}*/


/*@keyframes vayven {
  0% {
    transform: translate3d(5%, 0, 0) rotateZ(0deg);
  }
  100% {
    transform: translate3d(-5%, 0, 0) rotateZ(0deg);
  }
}


@keyframes swing {
  0% {
    transform: translate(-20%);
  }
  100% {
    transform: translate(0%);
  }
}*/
html.mouse a:hover, html.mouse button:hover {
  -webkit-transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
html.mouse a:hover {
  color: #ff755a;
}
html.mouse button:hover {
  background-color: #D92400;
  color: #FFFFFF;
}
html.mouse .toggle:hover .x, html.mouse .toggle:hover .y {
  background-color: #FFFFFF;
}
html.mouse .links a:hover {
  background-color: #D92400;
  color: #FFFFFF;
}
html.touch a.tap, html.touch button.tap {
  -webkit-transition: color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
html.touch a.tap {
  color: #ff755a;
}
html.touch button.tap {
  background-color: #D92400;
  color: #FFFFFF;
}
html.touch .toggle.tap .x, html.touch .toggle.tap .y {
  background-color: #FFFFFF;
}
html.touch .links a.tap {
  background-color: #D92400;
  color: #FFFFFF;
}
.element {
  width: 85%;
  left: 50%;
  position: absolute;
  max-width: 940px;
  transform: translate3d(-50%, 0%, 0) !important;
  bottom: 7%;
  /* z-index: 99999999; */
  filter: drop-shadow(24px 32px 21px rgba(0, 0, 0, 0.5));
}
.van {
  position: absolute;
  width: 55%;
  height: 33%;
  top: 51%;
  left: 18%;
  max-width: 362px;
  /* filter: drop-shadow(26px 89px 21px rgba(0, 0, 0, 0.6)); */
  animation: shake 5s infinite;
}
.van:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/banner_elements/van.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(26px 89px 21px rgba(0, 0, 0, 0.6));
}
.road {
  position: absolute;
  width: 69%;
  height: 37.8%;
  background-image: url("../images/banner_elements/road.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: -12.9%;
  left: 46%;
  transform: translate3d(-50%, 0%, 0) !important;
  max-width: 761px; /* filter: drop-shadow(11px -1px 4px rgba(0, 0, 0, 0.8)); */ overflow: hidden; /* height: 317px; */
}

.bridge{
    position: absolute;
    width: 211%;
    height: 50%;
    background-image: url("../images/banner_elements/bridge.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 34%;
    left: 90%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 600px;
    /*filter: drop-shadow( 18px 12px 15px rgba(0, 0, 0, 0.6));*/
    /* overflow: hidden; */
    /* background-color: red; */
  }




.board.cloud-2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 62%;
  background-image: url("../images/banner_elements/plain_smoke.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  left: -40%;
  top: 22%;
}
.road:after {
  position: absolute;
  content: "";
  width: 87%;
  height: 91%;
  background-image: url("../images/banner_elements/road.gif");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(-7deg) skew(-12deg);
  top: 16px;
  background-size: 33% auto;
}
.case_1 {
  position: absolute;
  width: 41%;
  height: 23%;
  background-image: url(../images/banner_elements/case1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  top: -28%;
  left: 38.2%;
  animation: shake 2s infinite;
  z-index: 5;
}
.case_2 {

  position: absolute;
  width: 47%;
  height: 14%;
  top: -12%;
  left: 18.2%;
  animation: shake 1.5s infinite;
  z-index: 2;
}
.case_2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/banner_elements/case2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /*filter: drop-shadow(-1px 6px 4px rgba(0, 0, 0, 0.8));*/
}
.case_3 {
  position: absolute;
  width: 32%;
  height: 23%;
  top: -7%;
  left: 62.2%;
  animation: shake 3s infinite;
  z-index: 2;
}
.case_3:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/banner_elements/case3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
 /* filter: drop-shadow(-7px 6px 4px rgba(0, 0, 0, 0.8));*/
}
.filter_van {
  filter: drop-shadow(26px 89px 21px rgba(0, 0, 0, 0.6))
}
.cloud_1 {
  position: absolute;
  width: 13%;
  height: 13%;
  background-image: url("../images/banner_elements/cloud-5.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  top: 12%;
  left: 16%;
  transform: translate3d(-50%, 0%, 0) !important;
  max-width: 362px;
  /* filter: drop-shadow( 26px 143px 34px rgba(0, 0, 0, 0.6)); */
}
.cloud_2 {
  position: absolute;
  width: 40%;
  height: 30%;
  background-image: url("../images/banner_elements/cloud-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  left: 30%;
  transform: translate3d(-50%, 0%, 0) !important;
  max-width: 362px;
  /* filter: drop-shadow( 26px 143px 34px rgba(0, 0, 0, 0.6)); */
}
.cloud_3 {
  position: absolute;
  width: 40%;
  height: 50%;
  background-image: url("../images/banner_elements/cloud-3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  top: 70%;
  left: 80%;
  transform: translate3d(-50%, 0%, 0) !important;
  max-width: 362px;
  /* filter: drop-shadow( 26px 143px 34px rgba(0, 0, 0, 0.6)); */
}
.cloud_4 {
  position: absolute;
  width: 40%;
  height: 50%;
  background-image: url("../images/banner_elements/cloud-4.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0%;
  left: 90%;
  transform: translate3d(-50%, 0%, 0) !important;
  max-width: 362px;
  /* filter: drop-shadow( 26px 143px 34px rgba(0, 0, 0, 0.6)); */
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.plain_animation .scene {
  min-height: 467px !important;
}
.plain_animation {
  background-color: rgba(53, 219, 201, 1.00);
  padding: 0px 0;
  overflow: hidden;
  position: relative
}
.animation_plain {
  width: 100%;
  height: 159px;
  background-image: url("../images/banner_elements/animate_plane.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 18px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-100%, 0);
  max-width: 400px;
  /* filter: drop-shadow(-20px 10px 6px rgba(0, 0, 0, 0.5)); */
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.animation_plain:before {
  position: absolute;
  content: "";
  width: 44%;
  height: 34%;
  background-image: url("../images/banner_elements/plain_smoke.gif");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% 100%;
  right: 74%;
  z-index: -0;
  top: 17%;
  transform: rotate(3deg);
  opacity: 0.5;
}
.animation_plain:after {
  position: absolute;
  content: "";
  width: 36%;
  height: 17%;
  background-image: url("../images/banner_elements/plain_smoke.gif");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% 100%;
  right: 1%;
  z-index: -1;
  top: 53%;
  transform: rotate(3deg);
  opacity: 0.5;
}
.box_container {
  position: absolute;
  width: 118px;
  height: 120px;
  background-image: url("../images/banner_elements/animate_box.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  top: 56%;
  left: 37%;
  webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
@keyframes swing_box {
  0% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
.animate_plain {
  animation: translate-plane 3s ease forwards;
}
@keyframes translate-plane {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
    visibility: visible;
    left: calc(0% - 400px)
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
    left: 50%
  }
}
.button_awards {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100px;
  z-index: 0;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
.drop_button {
  animation: drop-box 2.5s ease 3s forwards;
}
@keyframes drop-box {
  0% {
    max-width: 30px;
    max-height: 30px;
    opacity: 1;
    visibility: visible;
    top: 50%;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
  }
  75% {
    max-width: 30px;
    max-height: 30px;
    opacity: 1;
    visibility: visible;
    top: 80%;
    border-radius: 50%;
  }
  100% {
    max-width: 100%;
    max-height: 100px;
    top: 85%;
    opacity: 1;
    visibility: visible;
    border-radius: 0%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0))
  }
}
@media (min-width: 400px) {
  .van {
    top: 39%;
    height: 45%;
    left: 21%;
    width: 48%;
  }
}
@media (min-width: 576px) {
  .van {
    top: 31%;
    left: 28%;
    max-width: 288px;
    width: 33%;
    height: 43%;
  }
}
@media (min-width: 767px) {
  .scene {
    min-height: 700px;
  }
  .van {
    top: 8%;
    height: inherit;
  }
  .trees2 {
    position: absolute;
    width: 15%;
    height: 26%;
    background-image: url("../images/banner_elements/trees.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 73%;
    right: -6%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 362px; /* filter: drop-shadow( 26px 143px 34px rgba(0, 0, 0, 0.6)); */
  }
  .trees {
    position: absolute;
    width: 62%;
    height: 33%;
    background-image: url("../images/banner_elements/trees.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 69%;
    left: 2%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 362px; /* filter: drop-shadow( 26px 143px 34px rgba(0, 0, 0, 0.6)); */
  }
  .totem {
    position: absolute;
    width: 62%;
    height: 33%;
    background-image: url("../images/banner_elements/totem.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 53%;
    left: 17%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 362px; /*filter: drop-shadow( 18px 12px 15px rgba(0, 0, 0, 0.6));*/ /* overflow: hidden; */
  }
  .piramid {
    position: absolute;
    width: 10%;
    height: 22%;
    background-image: url("../images/banner_elements/piramid.svg");
    background-size: contain;

    background-repeat: no-repeat;
    background-position: center center;
    top: 64%;
    left: 15.5%;
    max-width: 362px;
    filter: drop-shadow(-20px 0px 8px rgba(0, 0, 0, 0.4));
    animation: vayven 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform-origin: center;
  }
  .llama {
    position: absolute;
    width: 6%;
    height: 11%;
    background-image: url("../images/banner_elements/llama.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 77%;
    left: 20.2%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 362px;
    filter: drop-shadow(-9px -3px 5px rgba(0, 0, 0, 0.7)); /* overflow: hidden; */
  }
  .tower_1 {
    position: absolute;
    width: 12%;
    height: 59%;
    background-image: url("../images/banner_elements/tower1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 28%;
    left: 12%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 362px;
    /*filter: drop-shadow( 18px 12px 15px rgba(0, 0, 0, 0.6));*/
    /* overflow: hidden; */
  }
  .tower_2 {
    position: absolute;
    width: 6%;
    height: 56%;
    background-image: url("../images/banner_elements/tower2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 35%;
    left: 4%;
    transform: translate3d(-50%, 0%, 0) !important;
    max-width: 362px; /*filter: drop-shadow( 18px 12px 15px rgba(0, 0, 0, 0.6));*/ /* overflow: hidden; */
  }
  .town {
    position: absolute;
    width: 65%;
    height: 16%;
    background-image: url("../images/banner_elements/town1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 78.2%;
    left: 75.2%; /* transform: translate3d(-50%, 0%, 0) !important; */ max-width: 545px; /* filter: drop-shadow( -9px -3px 5px rgba(0, 0, 0, 0.7)); */ /* overflow: hidden; */
  }
}
#smoke {
  position: absolute;
  z-index: 3;
  width: 1px;
  height: 160px;
  left: 108%;
  bottom: 0;
  z-index: 1;
  transform: rotate(54deg);
}
/* smoke balls */
#smoke span {
  display: block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -20px;
  height: 0px;
  width: 0px;
  border: 35px solid #4b4b4b;
  border-radius: 35px;
  left: -14px;
  opacity: 0;
  transform: scale(0.2);
}
#smoke.van {
  background-image: none
}
/* Smoke animation */
@keyframes smokeL {
  0% {
    transform: scale(0.2) translate(0, 0);
    filter: blur(1px)
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -5px)
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(-20px, -130px);
    filter: blur(6px)
  }
}
@keyframes smokeR {
  0% {
    transform: scale(0.2) translate(0, 0);
    filter: blur(1px)
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -5px)
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(20px, -130px);
    filter: blur(8px)
  }
}
#smoke .s0 {
  animation: smokeL 5s 0s infinite
}
#smoke .s1 {
  animation: smokeR 5s 0.5s infinite
}
#smoke .s2 {
  animation: smokeL 5s 1s infinite
}
#smoke .s3 {
  animation: smokeR 5s 1.5s infinite
}
#smoke .s4 {
  animation: smokeL 5s 2s infinite
}
#smoke .s5 {
  animation: smokeR 5s 2.5s infinite
}
#smoke .s6 {
  animation: smokeL 5s 3s infinite
}
#smoke .s7 {
  animation: smokeR 5s 3.5s infinite
}
#smoke .s8 {
  animation: smokeL 5s 4s infinite
}
#smoke .s9 {
  animation: smokeR 5s 4.5s infinite
}
@media (min-width: 767px) {
  .van {
    top: 44%;
    left: 27%;
    max-width: 354px;
    height: 33%;
  }
}
@media (min-width: 990px) {
  .van {
    top: 35%;
    left: 31%;
    height: 40%;
    backface-visibility: hidden;
    background-clip: content-box;
    background: content-box;

  }
}
@media (min-width: 1200px) {
  .van {
    top: 34%;
    left: 36%;
    height: 40%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {}