@charset "utf-8";
/* CSS Document */
#pageloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999; background-position: center center;
}


.loader{position: fixed;width: 100%;height: 100%;background-image: url("images/ElementsDesktopHero-BgSmall-Business.png");background-size: cover;background-position: center center;}

.loader:after{position: absolute;content: "";width: 100%;height: 100%;/* background-image: url("images/circles.png"); */background-size: auto 52%;background-position: center center;background-repeat: no-repeat;}

.lds-dual-ring {
  display: inline-block;
  width: 143px;
  height: 143px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
}

.lds-dual-ring img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 1;}


.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 98px;
  height: 98px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.5s linear infinite;
  top: 21px;
  position: absolute;
  left: 21px;
  transform: translate(-50%,-50%);
  z-index: 0;
  /* background: red; */
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
